<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
>
	<h:head>
		<h:outputStylesheet library="css" name="main.css" />
	</h:head>
	<h:body>
		<rich:panel id="panelId">
			<h:outputText styleClass="bold-hello-world" value="#{i18n['PruebaAjaxJSF-hello-world']}" />
		</rich:panel>
		<ul>
			<li><em><h:outputText value="#{product.JSF}" /></em></li>
			<li><em><h:outputText value="#{product.LIFERAY_FACES_BRIDGE}" /></em></li>
			<li><em><h:outputText value="#{product.LIFERAY_FACES_BRIDGE_EXT}" /></em></li>
			<li><em><h:outputText value="#{product.LIFERAY_FACES_UTIL}" /></em></li>
			<li><em><h:outputText value="#{product.RICHFACES}" /></em></li>
		</ul>
		
		<rich:panel id="eco" header="Ajax con a4j">
			<h:form>
				<h:inputText id="unTexto" value="#{prueba.text}"></h:inputText>
				<a4j:commandButton value="Eco" render="salida" execute="@form" ></a4j:commandButton>
				<h:outputText id="salida" value="#{prueba.text}"></h:outputText>
			</h:form>
		</rich:panel>
		
		<rich:panel id="eco2" header="Ajax con f:ajax">
			<h:form>
				<h:inputText id="unTexto2" value="#{prueba.text2}">
					<f:ajax event="keyup" render="salida2" execute="@form" listener="#{prueba.ajaxListener}"/>
				</h:inputText>
				<h:outputText id="salida2" value="#{prueba.text2}"></h:outputText>
			</h:form>
		</rich:panel>
	</h:body>
</f:view>
